<!DOCTYPE html>
<html lang="fr">
{% extends "conteneur.html" %}
{% block recherche %}
    {% include "partials/recherche.html %}
{% endblock %}

{% block corps %}
<h1>Bienvenue sur le <strong>duchamp_reader</strong></h1>
    <p>Le duchamp_reader est une application qui permet d'explorer les quatre dernières
        éditions du prix Marcel Duchamp (2018-2021).<br>
        Créé en 2000 en partenariat avec l'ADIAF (Association pour la diffusion internationale
        de l'art français) pour mettre en lumière la scène artistique française, le prix Marcel
        Duchamp cherche à rendre visible la diversité des pratiques artistiques contemporaines.
        Chaque année, quatre artistes sont nominé.e.s. Un.e lauréat.e est ensuite désigné.e
        après le vote d'un jury.</p>
    {% if nomination %}
    <p>Les dernier.ère.s nominé.e.s au prix Marcel Duchamp sont :</p>
        <ul>
            {% for nomination in nominations %}
            <li><a href="{{url_for('nomination', nomin_id=nomination.id}}"></a>{{nomination.annee}} : {{artiste.prenom}} {{artiste.nom}}</li>
            <!-- ce qu'il se passe au dessus : je crée un renvoi vers la fonction nomination(),
                qui affichera une page complète d'info pour une nomination ; on s'assurera qu'on renvoie vers la bonne nomination avec nomination.id .
                comme contenu à afficher : l'année de nomination : prénom et nom de l'artiste (avec nomination et artiste 2 variables qu'il faudra
                créer pour la fonction accueil(); pour artiste, il faudra faire la jointure avec la table nomination dans accueil()-->
            </ul>
    {% else %}
        <p>Aucune nomination n'a encore été ajoutée à la base de données</p>
    {% endif %}
{% endblock %}

</html>