<meta name="description" content="Le duchamp_reader est une application web permettant d'explorer les artistes nominé.e.s au prix Marcel Duchamp et leurs productions. Le site a été développé dans le cadre du cours de développement web en python du master TNAH de l'École des Chartes (2022)">
<meta name="keywords" content="duchamp_reader,art contemporain,base de données,python,flask,sqlalchemy">
<meta name="author" content="Paul, Hector Kervegan">
<meta name="viewport" content="width=device-width, initial-scale=1.0">