{% extends "conteneur.html" %}

{% block titre %}
    | à propos
{% endblock %}

{% block corps %}
    <p>Le <strong>duchamp_reader</strong> est une application qui permet de découvrir les dernières éditions du prix Marcel Duchamp (2018-2021).
        Créé en 2000 en partenariat avec l'ADIAF (Association pour la diffusion internationale de l'art français) pour mettre en lumière la scène
        artistique française, le prix Marcel Duchamp cherche à rendre visible la diversité des pratiques artistiques contemporaines.
        Chaque année, quatre artistes sont nominé.e.s. Un.e lauréat.e est ensuite désigné.e après le vote d'un jury.<br>
        Le duchamp_reader s'appuie sur les librairies python flask et flask_sqlalchemy; il a été développé dans le cadre du master 2 <em>Techniques numériques appliquées à l'Histoire</em>
        de l'École nationale des chartes</p>
    <p>Le site est divisé en <!-- jsp encore combien --> parties :</p>
    <dl>
        <!-- il faudrait pas faire des url_for avec des renvois à toutes ces pages, dans les <dt> ? -->
        <!-- là au niveau de mon architecture de site, je m'oriente vers un truc avec 2 pages pour chaque type de données: une page avec la liste de toutes les entrées pour ce type de données (artiste...)
            et une page pour une entrée en particulier ; je vois pas ça être dur, mais il faut le garder en tête -->
        <dt><strong>Artistes</strong></dt><dd>les artistes nominé.e.s au prix Marcel Duchamp</dd>
        <dt><strong>Nomination</strong></dt><dd>la nomination de chaque artiste au prix Marcel Duchamp</dd>
        <!-- dans accueil.html, je parle d'une page 'nomination', qui recense les nominations au prix, et pas les éditions ; que faire ? faire une page nomination en plus ou remplacer nomination par prix -->
        <dt><strong>Galeries</strong></dt><dd>les galeries représentant les nominé.es</dd>
        <dt><strong>Villes</strong></dt><dd>les villes d'origine et de résidence des artistes</dd>
        <dt><strong>Thèmes</strong></dt><dd>les thèmes sur lesquels portent les nominations au prix Marcel Duchamp</dd>
        <dt><strong>Le prix Marcel Duchamp en statistiques</strong></dt><dd>découvrir des statistiques sur le prix Marcel Duchamp</dd>
    </dl>

    <p>Le code source du site est disponible sur <a href="https://github.com/paulhectork/tnah2021_python_duchamp_reader">Github</a></p>

    <!-- footer -->
    <div class="basdepage">
        <a class="btn" href="{{url_for('accueil')}}">Accueil</a>
    </div>
{% endblock %}