{% extends "conteneur.html" %}

{% block homesearch %}
    {% include "partials/recherche.html" %}
{% endblock %}

{% block corps %}
    <h1>Bienvenue sur le <strong>duchamp_reader</strong></h1>
    <p>Le duchamp_reader est une application qui permet d'explorer les quatre dernières
        éditions du prix Marcel Duchamp (2018-2021).<br>
        Créé en 2000 en partenariat avec <a href="https://www.adiaf.com/">l'ADIAF</a>
        pour mettre en lumière la scène artistique française, le prix Marcel Duchamp cherche
        à rendre visible la diversité des pratiques artistiques contemporaines. Chaque année,
        quatre artistes sont nominé.e.s. Un.e lauréat.e est ensuite désigné.e après le vote
        d'un jury.</p>

    {% if artistes %}
        <!-- dernières nominations -->
        <p>Les dernier.ère.s artistes ajoutées à la base sont</p>
        <ul>
        {% for artiste in artistes %}
            <li>
                <a href="{{ url_for('artiste_main', id_artiste=artiste.id) }}">{{artiste.full}}</a>
                ({% if artiste.genre == "F" %}née{% elif artiste.genre == "A" %}né.e{% else %}né{% endif %} en {{artiste.annee_naissance}},
                {% if artiste.genre == "F" %}nominée{% elif artiste.genre == "A" %}nominé.e{% else %}nominé{% endif %} en {{artiste.nomination.annee}})
            </li>
        {% endfor %}
        </ul>

        <!-- sparql -->
        <h2>Enrichir vos jeux de données</h2>
        <p>Explorez Wikidata avec le <a href="{{ url_for('sparql') }}">duchamp_sparqler</a>, un constructeur de requêtes SPARQL !</p>

    {% else %}
        <p>La base de données est en cours de constitution. Des données doivent encore être ajoutées.</p>
    {% endif %}

{% endblock %}