{% extends "conteneur.html" %}

{% block titre %}
    {% if nomination %}| {{nomination.artiste.full}} {% endif %}
{% endblock %}

<!-- {% if nomination.artiste.genre == "F" %}{% elif nomination.artiste.genre == "A" %}{% else %}{% endif %} -->

{% block corps %}
    {% if nomination and represente %}
        <h1>{{nomination.artiste.full}}</h1>

        <!-- corps du texte -->
        <h2>Nomination</h2>
            <p>{{nomination.artiste.full}} a été
                <!-- lauréat ou nominé.e -->
                {% if nomination.laureat == 1 %}
                    {% if nomination.artiste.genre == "F" %}lauréate{% elif nomination.artiste.genre == "A" %}lauréat.e{% else %}lauréat{% endif %} du
                {% else %}
                    {% if nomination.artiste.genre == "F" %}nominée{% elif nomination.artiste.genre == "A" %}nominé.e{% else %}nominé{% endif %} au
                {% endif %}

                <!-- année de nomination et autres nominé.e.s -->
                prix Marcel Duchamp en {{nomination.annee}}. Son travail portait sur le thème : <a href="{{ url_for('theme_main', id_theme=nomination.id_theme) }}">
                    {{nomination.theme.nom}}</a>. {% if nominations_all|length > 1 %}La même année ont été nominé.e.s :</p>
                    <ul>
                        {% for n in nominations_all %}
                            {% if n.artiste.full != nomination.artiste.full %}
                                <li><a href="{{ url_for('artiste_main', id_artiste=n.id_artiste) }}">{{n.artiste.full}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}Il n'y a pas eu d'autres nominé.e.s cette année là.</p>{% endif %}

                <!-- nom du / de la lauréat.e de cette année là -->
                {% if nomination.laureat != 1 %}
                    <p>Cette année,
                    {% for n in nominations_all %}
                        {% if n.laureat == 1%}
                            {% if n.artiste.genre == "F" %}la lauréate{% elif n.artiste.genre == "A" %}le/la lauréat.e{% else %}le lauréat{% endif %}
                            a été <a href="{{ url_for('artiste_main', id_artiste=n.id_artiste) }}">{{n.artiste.full}}</a>.
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}

        <h2>À propos de l'artiste</h2>
        <!-- année et ville de naissance -->
        <p>{{nomination.artiste.full}} est
            {% if nomination.artiste.genre == "F" %}née {% elif nomination.artiste.genre == "A" %}né.e {% else %}né {% endif %}
            en {{nomination.artiste.annee_naissance}} à <a href="{{ url_for('ville_main', id_ville=nomination.artiste.id_ville_naissance) }}">
                {{nomination.artiste.ville_naissance.nom}}</a>
            et habite à <a href="{{ url_for('ville_main', id_ville=nomination.artiste.id_ville_residence) }}">
                {{nomination.artiste.ville_residence.nom}}</a>.
        </p>

        <!-- galeries représentant l'artiste -->
        <p>{% if nomination.artiste.genre == "F" %}Elle {% elif nomination.artiste.genre == "A" %}Iel {% else %}Il {% endif %}
            est {% if nomination.artiste.genre == "F" %}représentée {% elif nomination.artiste.genre == "A" %}représenté.e {% else %}représenté {% endif %} par
            {% if represente|length > 1 %}
                les galeries :
                <ul>
                    {% for r in represente %}
                        <li><a href="{{ url_for('galerie_main', id_galerie=r.id_galerie) }}">{{r.galerie.nom}}</a></li>
                    {% endfor %}
                </ul>
            {% else %} la galerie {% for r in represente %}<a href="{{ url_for('galerie_main', id_galerie=r.id_galerie) }}">{{r.galerie.nom}}</a>{% endfor %}.
            {% endif %}
        </p>

        <!-- wikipedia -->
        <h2>En savoir plus (via wikipedia)</h2>
        {% if code == "fr" %}
            <p>Les informations qui suivent viennent de la page francophone de <a href="{{url}}">{{nomination.artiste.full}}</a>.</p>
        {% endif %}
        {% if code == "en" %}
            <p>Les informations qui suivent viennent de la page anglophone de <a href="{{url}}">{{nomination.artiste.full}}</a>.</p>
        {% endif %}
        {% if summary %}
            <h4>En bref</h4>
            <p style="white-space:pre-wrap">{{ summary }}</p>
        {% endif %}
        {% if bio %}
            <h4>Biographie</h4>
            <p style="white-space:pre-wrap">{{ bio }}</p>
        {% endif %}
        {% if formation %}
            <h4>Formation</h4>
            <p style="white-space:pre-wrap">{{formation}}</p>
        {% endif %}
        {% if carriere %}
            <h4>Carrière</h4>
            <p style="white-space:pre-wrap">{{carriere}}</p>
        {% endif %}
        {% if travail %}
            <h4>Travail artistique</h4>
            <p style="white-space:pre-wrap">{{travail}}</p>
        {% endif %}
        {% if oeuvre %}
            <h4>Pratique artistique et oeuvre</h4>
            <p style="white-space:pre-wrap">{{oeuvre}}</p>
        {% endif %}
        {% if code == "no" %}
            <p>La page wikipedia de cet.te artiste n'a pas été trouvée ! Si vous voulez vous cultiver ou procrastiner, pourquoi ne pas visiter une de ces pages au hasard ?</p>
            <ul>
                {% for key, value in wikidict.items() %}
                    <li><a href="{{value}}">{{key}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}


        <!-- carousel d'images -->
        {% if nomination.annee == 2021 and nomination.id_artiste != 18 %}
            <h2>Vues de l'installation</h2>
            <div id="slider">
                <!-- boutons -->
                <div class="slideshowbtn">
                    <button id="prev" class="btn" onclick="nextSlide()">image précédente</button>
                    <button id="pause" class="btn">pause</button>
                    <button id="next" class="btn">image suivante</button>
                </div>

                <!-- Julian Creuzet -->
                {% if nomination.id_artiste == 20 %}
                    <div class="slides">
                        <img src="../static/images/2021duchamp_creuzet1.jpg" class="shown"/>
                        <img src="../static/images/2021duchamp_creuzet2.jpg" class="slide"/>
                        <img src="../static/images/2021duchamp_creuzet3.jpg" class="slide"/>
                    </div>
                {% endif %}

                <!-- Isabelle Cornaro <3 -->
                {% if nomination.id_artiste == 19 %}
                    <div class="slides">
                        <img src="../static/images/2021duchamp_cornaro1.jpg" class="shown"/>
                        <img src="../static/images/2021duchamp_cornaro2.jpg" class="slide"/>
                        <img src="../static/images/2021duchamp_cornaro3.jpg" class="slide"/>
                        <img src="../static/images/2021duchamp_cornaro4.jpg" class="slide"/>
                        <img src="../static/images/2021duchamp_cornaro5.jpg" class="slide"/>
                    </div>
                {% endif %}

                <!-- Lili Reynaud Dewar -->
                {% if nomination.id_artiste == 17 %}
                    <div class="slides">
                        <img src="../static/images/2021duchamp_reynauddewar1.jpg" class="shown"/>
                        <img src="../static/images/2021duchamp_reynauddewar2.jpg" class="slide"/>
                    </div>
                {% endif %}

                <!-- javascript -->
                <script type="text/javascript">
                    var slides = document.querySelectorAll('.slides img');
                    var currentSlide = 0;
                    var slideInterval = setInterval(nextSlide,3500);
                    var playing = true;
                    var pausebtn = document.querySelector('#pause');
                    var prevbtn = document.querySelector('#prev');
                    var nextbtn = document.querySelector('#next');

                    //slide automatique
                    function nextSlide() {
                      slides[currentSlide].className = 'slide';
                      currentSlide = (currentSlide+1)%slides.length;
                      slides[currentSlide].className = 'shown';
                    };

                    //pause et play
                    function pauseSlideshow() {
                      pausebtn.innerHTML = 'reprendre';
                      playing = false;
                      clearInterval(slideInterval);
                    };
                    function playSlideshow() {
                      pausebtn.innerHTML = 'pause';
                      playing = true;
                      slideInterval = setInterval(nextSlide,3500);
                    };

                    //slide précédente et suivante
                    function prevSlide() {
                      toSlide(currentSlide-1);
                    };
                    function nextSlide() {
                      toSlide(currentSlide+1);
                    };
                    function toSlide(n) {
                      slides[currentSlide].className = 'slide';
                      currentSlide = (n+slides.length)%slides.length;
                      slides[currentSlide].className = 'shown';
                    };

                    //action des bouttons
                    pausebtn.onclick = function() {
                      if(playing) {
                        pauseSlideshow();
                      } else {
                        playSlideshow();
                      }
                    };
                    prevbtn.onclick = function() {
                      pauseSlideshow()
                      prevSlide();
                    };
                    nextbtn.onclick = function() {
                      pauseSlideshow()
                      nextSlide();
                    }
                </script>

            </div>
        {% endif %}

        <!-- cartes -->
        {% if carte %}
            <h2>Carte indiquant le lieu de naissance et de résidence de {{nomination.artiste.full}}</h2>
            <iframe class="iframe" src="{{url_for('carte_artiste', id=nomination.id_artiste)}}"></iframe>
        {% endif %}

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}

    <!-- footer -->
    <div class="basdepage">
        <a class="btn" href="{{url_for('accueil')}}">Accueil</a>
        <a class="btn" href="{{url_for('artiste_add')}}">Ajouter un.e artiste</a>
        <a class="btn" href="{{url_for('artiste_index')}}">Index des artistes</a>
    </div>

{% endblock %}