{% extends "conteneur.html" %}

{% block titre %}| connexion {% endblock %}

{% block corps %}
    <h1>Connexion</h1>

    <!-- corps du texte -->
    <form class="form" method="POST" action="{{ url_for('connexion') }}">
        <!-- login -->
        <div class="form-group row">
            <label for="register-login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="register-login" name="login" placeholder="Nom d'utilisateur.ice (ex: dale-cooper, laurapalmer)">
            </div>
        </div>

        <!-- mdp -->
        <div class="form-group row">
            <label for="register-password" class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="register-password" name="mdp" placeholder="Mot de passe">
            </div>
        </div>

        <!-- submit -->
        <div>
            <button type="submit" class="btn btn-primary">Connexion</button>
        </div>
    </form>

    <!-- footer -->
    <div class="basdepage">
        <a class="btn" href="{{url_for('accueil')}}">Accueil</a>
        <a href="{{ url_for('inscription') }}" class="btn">Inscription</a>
    </div>
{% endblock %}