{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block homesearch %}
    {% include "partials/recherche.html" %}
{% endblock %}

{% block corps %}
<h1>{{titre}}</h1>
    {% if galeries %}

        <!-- corps de la page -->
        <p>Les galeries représentant des artistes nominé.e.s au prix Marcel Duchamp sont :</p>
        <ul>
            {% for galerie in galeries.items %} <!-- afficher les noms des galeries sur la page actuelle -->
                <li><a href="{{url_for('galerie_main', id_galerie=galerie.id)}}">
                    {{galerie.nom}}
                </a></li>
            {% endfor %}
        </ul>

        <!-- pagination -->
        <nav aria-label="research-pagination">
            <ul class="pagination">
                {% if galeries.has_prev %}
                    <li class="page-item">
                {% else%}
                    <li class="page-item disabled">
                {% endif %}
                        <a class="page-link" href="{{url_for('galerie_index', page=galeries.prev_num)}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">précédente</span>
                        </a>
                    </li>
                {% for page in galeries.iter_pages() %}
                    {% if page %}
                        {% if page != galeries.page %} <!-- si la page n'est pas la page courante -->
                        <li class="page-item">
                            <a class="page-link" href="{{url_for('galerie_index', page=page)}}">
                                {{page}}
                            </a>
                        </li>
                        {% else %} <!-- la page courante -->
                            <li class="page-item active disabled">
                                <a class="page-link"><b style="color: var(--custom-light-pink)">{{page}}</b></a>
                            </li>
                        {% endif %}
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if galeries.has_next %}
                    <li class="page-item">
                {% else %}
                    <li class="page-item disabled">
                {% endif %}
                    <a class="page-link" href="{{url_for('galerie_index', page=galeries.next_num)}}" aria-label="Next">
                        <span class="sr-only">suivante</span>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

    <!-- footer -->
    <div class="basdepage">
        <a class="btn" href="{{url_for('accueil')}}">Accueil</a>
    </div>

{% endblock %}