{% extends "conteneur.html" %}

{% block titre %}| nouvelle nomination{% endblock %}

{% block corps %}
    <h1>Ajouter une nouvelle nomination à la base de données</h1>

    <!-- corps du texte -->
    <p>Pour ajouter une nomination à la base, veuillez remplir le formulaire et cliquer sur "Ajouter".</p>
    <form class="form" method="POST" action="{{ url_for('nomination_add') }}">

        <!-- nom -->
        <div class="form-group row">
            <label for="artiste-nom" class="col-sm-2 col-form-label">Nom de famille de l'artiste nominé.e</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="artiste-nom" name="nom_artiste" placeholder="Nom de famille de l'artiste (ex: Rosenfield)"/>
            </div>
        </div>

        <!-- prenom -->
        <div class="form-group row">
            <label for="artiste-prenom" class="col-sm-2 col-form-label">Prénom de l'artiste nominé.e</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="artiste-prenom" name="prenom_artiste" placeholder="Prénom (ex: Albert)"/>
            </div>
        </div>

        <!-- annee de la nomination -->
        <div class="form-group row">
            <label for="annee-nomination" class="col-sm-2 col-form-label">Année de la nomination</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="annee-nomination" name="annee" placeholder="Année de la nomination au format AAAA (ex: 2017)"/>
            </div>
        </div>

        <!-- lauréat.e ou nominé.e -->
        <div class="form-group row">
            <label for="laureat" class="col-sm-2 col-form-label">Lauréat.e ou nominé.e</label>
            <div class="col-sm-10 dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <select type="text" class="form-select" id="laureat" name="laureat" aria-expanded="false">
                    <option>Sélectionner</option>
                    <option value=1>Lauréat.e</option>
                    <option value=0>Nominé.e</option>
                </select>
            </div>
        </div>

        <!-- thème de la nomination -->
        <div class="form-group row">
            <label for="theme" class="col-sm-2 col-form-label">Thème de la nomination</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="theme" name="theme" placeholder="Thème de la nomination (ex: nostalgie)"/>
            </div>
        </div>

        <!-- submit -->
        <div> <button type="submit" class="btn btn-primary">Ajouter</button></div>
    </form>

{% endblock %}

<!--  "annee" "laureat" "nom_artiste" "prenom_artiste" "theme" -->