{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block homesearch %}
    {% include "partials/recherche.html" %}
{% endblock %}

{% block corps %}
<h1>{{titre}}</h1>
    {% if nominations %}

        <!-- corps de la page -->
        <p>L'édition
            {% if nominations.page==1 %}
                {{annees[4]}}
            {% elif nominations.page==2 %}
                {{annees[3]}}
            {% elif nominations.page==3 %}
                {{annees[2]}}
            {% elif nominations.page==4 %}
                {{annees[1]}}
            {% else %}
                {{annees[0]}}
            {% endif %}
            du prix Marcel Duchamp a comporté les nominations suivantes :</p>
        <ul>
            {% for nomination in nominations.items %} <!-- afficher les noms des artistes sur la page actuelle -->
                <li>
                    <a href="{{url_for('nomination_main', id_nomination=nomination.id)}}">
                    {{nomination.id}}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- pagination -->
        <nav aria-label="research-pagination">
            <ul class="pagination">
                {% if nominations.has_prev %}
                    <li class="page-item">
                {% else%}
                    <li class="page-item disabled">
                {% endif %}
                        <a class="page-link" href="{{url_for('nomination_index', page=nominations.prev_num)}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">précédente</span>
                        </a>
                    </li>
                {% for page in nominations.iter_pages() %}
                    {% if page %}
                        {% if page != nominations.page %} <!-- si la page n'est pas la page courante -->
                        <li class="page-item">
                            <a class="page-link" href="{{url_for('nomination_index', page=page)}}">
                                {{page}}
                            </a>
                        </li>
                        {% else %} <!-- la page courante -->
                            <li class="page-item active disabled">
                                <a class="page-link"><b style="color: var(--custom-light-pink)">{{page}}</b></a>
                            </li>
                        {% endif %}
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                    {% endif%}
                {% endfor %}
                {% if nominations.has_next %}
                    <li class="page-item">
                {% else%}
                    <li class="page-item disabled">
                {% endif %}
                    <a class="page-link" href="{{url_for('nomination_index', page=nominations.next_num)}}" aria-label="Next">
                        <span class="sr-only">suivante</span>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}