{% extends "conteneur.html" %}

{% block titre %}
    | rien à voir
{% endblock %}

{% block corps %}
    <h1>Rien à voir : le prix Marcel Duchamp en visualisations</h1>

    <!-- corps du texte -->
    <p>Sélectionnez les données à visualiser </p>

    <form class="form" method="POST" action="{{ url_for('rien_a_voir') }}">

        <!-- données à afficher -->
        <div class="col-sm-10 dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <label for="axis" class="col-sm-2 col-form-label">Données en abscisse</label>
            <select type="text" class="form-select" id="axis" name="axis" aria-expanded="false">
                <option value="None">Sélectionner...</option>
                <option value="theme_count">Thèmes par an</option>
                <option value="galerie_count">Galeries par an</option>
                <option value="pays_count">Nombre de nominé.e.s par pays et par an</option>
            </select>
        </div>

        <!-- type de graphique -->
        <div class="col-sm-10 dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <label for="graph" class="col-sm-2 col-form-label">Type de graphique</label>
            <select type="text" class="form-select" id="graph" name="graph" aria-expanded="false">
                <option value="None">Sélectionner...</option>
                <option value="FFF">F</option>
                <option value="GGG">G</option>
                <option value="HHH">H</option>
            </select>
        </div>

        <!-- sumbit -->
        <div><button type="submit" class="btn btn-primary" id="send">Valider</button></div>
    </form>

    {% if url %}
        <h5>Résultat</h5>
        <img src="data:image/png;base64, {{ url }}"/>
    {% endif %}

    <!-- footer -->
    <div class="basdepage">
        <a class="btn" href="{{url_for('accueil')}}">Accueil</a>
    </div>

{% endblock %}