{% extends "conteneur.html" %}

{% block titre %}
    {% if theme %}| {{theme.nom}}{% endif %}
{% endblock %}

{% block corps %}
    {% if theme %}
        <h1>{{theme.nom}}</h1>

        <!-- corps du texte -->
        <h2>À propos</h2>

        <!-- artistes travaillant avec ce thème -->
        <p>Ce thème
            {% if theme.nomination|length > 1 and theme.nomination.artiste.nom|length > 0 %} a été traité par les artistes :
                <ul>
                    {% for t in theme.nomination %}
                        <li><a href="{{ url_for('artiste_main', id_artiste=t.id_artiste) }}">{{t.artiste.full}}</a> (en {{t.annee}})</li>
                    {% endfor %}
                </ul>
            {% elif theme.nomination|length == 1 and theme.nomination.artiste.nom|length > 0 %}
                a été traité par l'artiste
                {% for t in theme.nomination %}
                    <a href="{{ url_for('artiste_main', id_artiste=t.id_artiste) }}">{{t.artiste.full}}</a> en {{t.annee}}.
                {% endfor %}
            {% else %} n'a été traité par aucun.e artiste.
            {% endif %}
        </p>

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}

    <!-- footer -->
    <div class="basdepage">
        <a class="btn" href="{{url_for('accueil')}}">Accueil</a>
        <a class="btn" href="{{url_for('theme_add')}}">Ajouter un thème</a>
        <a class="btn" href="{{url_for('theme_update', id_theme=theme.id) }}">Modifier ce thème</a>
        <btn class="btn deletebtn" value="{{ theme.id }}">Supprimer ce thème</btn>
        <a class="btn" href="{{url_for('theme_index')}}">Index des thèmes</a>
    </div>

{% endblock %}