{% extends "conteneur.html" %}

{% block titre %}
    {%if ville %}| {{ville.nom}}{% endif %}
{% endblock %}

{% block corps %}
    {% if ville %}
        <h1>{{ville.nom}} ({{ville.pays}})</h1>
        <dl>
            <dt>Latitude</dt><dd>{{ville.latitude}}</dd>
            <dt>Longitude</dt><dd>{{ville.longitude}}</dd>
        </dl>
        {% if carte %}
            <iframe class="iframe" src="{{url_for('carte_ville', id=ville.id)}}"></iframe>
        {% endif %}
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}

    <!-- footer -->
    <div class="basdepage">
        <a class="btn" href="{{url_for('accueil')}}">Accueil</a>
        <a class="btn" href="{{url_for('ville_index')}}">Index des villes</a>
    </div>
{% endblock %}