<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fichier pour tester ce qui marche ou quoi</title>
</head>
<body>
<form method="POST" action="{{url_for('form_select')}}">
    <label>Bon jsp</label>
    <div>
        <select name="test_select">
            <option name="A">objet A</option>
            <option name="B">objet B</option>
            <option name="C">objet C</option>
        </select>
    </div>
    <input type="submit" name="Modifier" class="btn btn-primary"/>
</form>
<div>
    <p name="result">Résultat : {{saperlipopette}}</p>
</div>
</body>
</html>